@import "reset";

body {
  font-family: Poppins, sans-serif;
}

nav {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px auto;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

nav div {
  padding: 0 2%;
}

nav .carrinho {
  font-size: 25px;
}

/* Main */
.main {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.main-topo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2%;
  align-items: center;
  margin-bottom: 40px;
}

.direita-topo h2 {
  font-size: 32px;
  font-weight: 500;
}

.grid-mid {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

/* Filtros*/
.filtros {
  display: flex;
  flex-direction: column;
  padding: 0 2%;
}

.filtros h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.filtroCor {
  display: flex;
  flex-direction: column;
}

.filtroCor .mostrar-mais {
  margin-top: 10px;
  color: #ccc;
  text-decoration: underline;
  cursor: pointer;
}

.filtroCor #mobile {
  display: none;
}

.filtroTamanhos {
  margin-top: 30px;
}

.grid-tamanho {
  display: grid;
  grid-template-columns: repeat(4, 1fr)
}

.filtroPreco {
  margin-top: 30px;
}

.produtos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  margin-bottom: 30px;
}

.direita {
  float: right;
}

.esquerda {
  float: left;
}

.produto-single {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.produto-name {
  margin-top: 10px;
}

.produto-price {
  font-weight: 700;
  margin-top: 10px;
}

.produto-parc {
  margin-bottom: 10px;
}

.produto-button {
  font-size: 14px;
  font-weight: 700;
  background-color: black;
  color: white;
  border: none;
  width: 60%;
  height: 40px;
  cursor: pointer;
}

footer {
  width: 100%;
  height: 30px;
  background-color: black;
  text-align: center;
  color: white;
  line-height: 30px;
  position: fixed;
  left: 0;
  bottom: 0;
}